<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		
		<title>Marah Bani-Awwad</title>
		
		<meta name="keywords" content="">
		<meta name="description" content="">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="public/css/animate.min.css">
		<link rel="stylesheet" href="public/css/bootstrap.min.css">
		<link rel="stylesheet" href="public/css/font-awesome.min.css">
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="public/css/templatemo-style.css">
		<script src="public/js/jquery.js"></script>
		<script src="public/js/bootstrap.min.js"></script>
        <script src="public/js/jquery.singlePageNav.min.js"></script>
		<script src="public/js/typed.js"></script>
		<script src="public/js/wow.min.js"></script>
		<script src="public/js/custom.js"></script>
	</head>
	<body id="top">

		<!-- start preloader -->
		<div class="preloader">
			<div class="sk-spinner sk-spinner-wave">
     	 		<div class="sk-rect1"></div>
       			<div class="sk-rect2"></div>
       			<div class="sk-rect3"></div>
      	 		<div class="sk-rect4"></div>
      			<div class="sk-rect5"></div>
     		</div>
    	</div>
    	<!-- end preloader -->

        <!-- start header -->
        <header>
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <p><i class="fa fa-phone"></i><span> Phone</span>0777292841</p>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <p><i class="fa fa-envelope-o"></i><span> Email</span><a href="#">marah.mf.awwad@gmail.com</a></p>
					</div>
					<div class="col-md-5 col-sm-4 col-xs-12">
                        <ul class="social-icon">
                            <li><span>Meet me on</span></li>
                            <li><a href="https://web.facebook.com/memo.sweet.5891" class="fa fa-facebook"></a></li>
                            <li><a href="https://twitter.com/Marah750" class="fa fa-twitter"></a></li>
                            <li><a href="https://www.instagram.com/marahbaniawwad/" class="fa fa-instagram"></a></li>
                        </ul>
					</div>
                </div>
            </div>
        </header>
        <!-- end header -->

    	<!-- start navigation -->
		<nav class="navbar navbar-default templatemo-nav" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="icon icon-bar"></span>
						<span class="icon icon-bar"></span>
						<span class="icon icon-bar"></span>
					</button>
					<a href="#top" class="navbar-brand">Marah Bani-Awwad</a>
				</div>
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#top">HOME</a></li>
						<li><a href="#about">SKILLS</a></li>
						<li><a href="#service">Education</a></li>
						<li><a href="#contact">Hire ME</a></li>
					</ul>
				</div>
			</div>
		</nav>
		<!-- end navigation -->

    	<!-- start home -->
    	<section id="home">
    		<div class="container">
    			<div class="row">
    				<div class="col-md-offset-2 col-md-8">
    					<h4 class="wow fadeIn" data-wow-offset="50" data-wow-delay="1s">
								Bachelor undergraduate Software Engineering (expected in 2019)
							</h4>
    					<div class="element">
                            <div class="sub-element">Java Developer</div>
                            <div class="sub-element">Android Developer</div>
							<div class="sub-element">Database Developer</div>
                        </div>
					</div>
    			</div>
    		</div>
    	</section>
    	<!-- end home -->

    	<!-- start about -->
		<section id="about">
			
			<div class="container">
				<div class="row">
					<div class="col-md-12">
    					<h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s"> <span>Computer Skills</span></h2>
    				</div>
					<div class="col-md-4 col-sm-4 col-xs-12 wow fadeInLeft" data-wow-offset="50" data-wow-delay="0.6s">
						<div class="media">
							<div class="media-heading-wrapper">
								<div class="media-object pull-left">

				     	<img src="public/images/javaicon.png" width="50px" height="50px" alt="java icon">
								</div>
								<h3 class="media-heading">JAVA DEVELOPER</h3>
								
							</div>
							
						</div>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-12 wow fadeInUp" data-wow-offset="50" data-wow-delay="0.9s">
						<div class="media">
							<div class="media-heading-wrapper">
								<div class="media-object pull-left">
										<img src="public/images/androidicon.png" width="50px" height="50px" alt="android icon">
								</div>
								<h3 class="media-heading">ANDROID DEVELOPER</h3>
							</div>
							
						</div>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-12 wow fadeInRight" data-wow-offset="50" data-wow-delay="0.6s">
						<div class="media">
							<div class="media-heading-wrapper">
								<div class="media-object pull-left">
									
										<img src="public/images/html5.png" width="50px" height="50px" alt="html icon">
								</div>
								<h3 class="media-heading"> HTML5 &AMP; CSS3 </h3>
							</div>
							
						</div>
					</div>
						<div class="col-md-4 col-sm-4 col-xs-12 wow fadeInUp" data-wow-offset="50" data-wow-delay="0.9s">
								<div class="media">
									<div class="media-heading-wrapper">
										<div class="media-object pull-left">
												<img src="public/images/database.png" width="50px" height="50px" alt="android icon">
										</div>
										<h3 class="media-heading">&nbsp;MySQL</h3>
									</div>
									
								</div>
							</div>
							<div class="col-md-4 col-sm-4 col-xs-12 wow fadeInUp" data-wow-offset="50" data-wow-delay="0.9s">
									<div class="media">
										<div class="media-heading-wrapper">
											<div class="media-object pull-left">
													<img src="public/images/jsicon.png" width="50px" height="50px" alt="js icon">
											</div>
							<h3 class="media-heading">&nbsp;JavaScript</h3>
										</div>
										
									</div>
								</div>
				</div>
			</div>
		</section>
		<!-- end about -->

    	<!-- start Education -->
    	<section id="service">
    		<div class="container">
    			<div class="row">
    				<div class="col-md-12">
    					<h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s"> <span>Education</span> </h2>
    				</div>
    				<div class="col-md-4 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
    					
    					<h4>Software Engineering</h4>
						<p>Jordan University of Science and Technology<sub> 09/2015 – Present </sub>
							<p><sub>  Irbid,Jordan</sub></p>
						<br>
						<br>
                            GPA :
                              4 [ Distinguished ]
                        </p>
    				</div>
    				<div class="col-md-4 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
    					
						<h4>High School</h4>
    					<p>
							Secondary High School <sub>2015</sub>
						</p>
						<p><sub>  Yanbu, KSA </sub></p>
    				</div>
    			</div>
    		</div>
    	</section>
    	<!-- end education -->

    
    	<!-- start contact -->
    	<section id="contact">
    		<div class="container">
    			<div class="row">
    				<div class="col-md-12">
    					<h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s">Hire <span>Me</span></h2>
    				</div>
    				<div class="col-md-6 col-sm-6 col-xs-12 wow fadeInLeft" data-wow-offset="50" data-wow-delay="0.9s">
    					<form action="#" method="post">
    						<label>NAME</label>
    						<input name="fullname" type="text" class="form-control" id="fullname">
   						  	
                            <label>EMAIL</label>
    						<input name="email" type="email" class="form-control" id="email">
   						  	
                            <label>MESSAGE</label>
    						<textarea name="message" rows="4" class="form-control" id="message"></textarea>
    						
                            <input type="submit" class="form-control">
    					</form>
    				</div>
    				<div class="col-md-6 col-sm-6 col-xs-12 wow fadeInRight" data-wow-offset="50" data-wow-delay="0.6s">
    					<address>
    						<p><i class="fa fa-phone"></i> 077729841</p>
    						<p><i class="fa fa-envelope-o"></i>marah.mf.awwad@gmail.com</p>
    						<p><i class="fa fa-map-marker"></i> Irbid, Jordan</p>
    					</address>
						
    				</div>
    			</div>
    		</div>
    	</section>
    	<!-- end contact -->


        <!-- start copyright -->
        <footer id="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <p class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s">
                       	Copyright &copy; 2018 Marah</p>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end copyright -->

	</body>
</html>